body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}

.content {
    width: 1000px;
}

header {
    display: flex;
    justify-content: space-between;
}

#portrait {
    height: 300px;
}

hr.junction {
    width: 1000px;
    border: 2px solid black;
}

.name {
    margin-bottom: 0;
    margin-left: 0;
}

.age {
    margin-top: 0;
    margin-left: 5px;
    color: grey;
}

.section-title {
    display: flex;
    align-items: center;
}

.p-description {
    margin-left: 10px;
    color: grey;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.no-top-margin {
    margin-top: 0;
}

hr.weak {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.158);
}

.edu {
    display: flex;
    justify-content: space-between;
}

.project {
    margin-bottom: 30px;
    margin-top: 30px;
}